.quote-container{
  background-color: #f7f7f9;
  border-left: 4px solid #5c5c5c;
  padding: 16px 20px;
  border-radius: 6px;
}

.quote-name{
  white-space: pre-line;
  color: #0094d9;
  margin: 0 0 12px 0;
  line-height: 1.6;
}

.quote-text{
  white-space: pre-line;
  margin: 0 0 12px 0;
  line-height: 1.6;
}

.quote-player{
  white-space: pre-line;
}

.quote-source{
  white-space: pre-line;
  margin: 0;
  text-align: right;
  color: #949494;
}

.quote2{
  white-space: pre-line;
}

.h1detail{
}

.h2detail{
}

.h3detail{
}
